node_modules
.vscode
build
dist
proof.json
logs.json
logs-trace
logs-full-trace
logs-verbose
logs-stats
package-lock.json
cache-main-pil.json
testvectors/commit.bin
testvectors/constants.bin
tmp
pil-config.json
parallel-tests
verbose-config.json
tracer-options.json
*.stats
main.pil.json